$black : #16161D;


// Navbar Component Style
.navbar{
    color: #787676;

    
    @media only screen and (min-width: 320px){
        padding: 0rem;
    }
    @media only screen and (min-width: 360px){
        padding: 0rem;
    }
    @media only screen and (min-width: 411px){
        padding: 0rem;
    }
    @media only screen and (min-width: 768px){
        padding: 0rem 3rem;
    }
    @media only screen and (min-width: 998px){
        padding: 0rem 3rem;
    }
    @media only screen and (min-width: 1200px){
        padding: 0rem 6.9rem;
    }


    .shadow{ 
        box-shadow: 0px 4px 4px rgba(120, 118, 118, 0.15);
    }
    

    .navbar-brand{
        color: #16161D;
        line-height: 45px;
        font-style: normal;
        font-weight: 600;
        padding-left: 0.7rem;
    }
    .navbar-toggler-icon{
        color: #16161D;
    }
    .nav-link{
        color: #787676;
        font-weight: 500;
        line-height: 36px;
    }
    .nav-item{
        margin: 0rem 0.5rem;
    }

    
}

// Section Title

.section-title{
    margin: 5rem 25rem;

    @media only screen and (min-width: 320px){
        margin: 5rem 1rem;
    }
    @media only screen and (min-width: 360px){
        margin: 5rem 1rem;
    }
    @media only screen and (min-width: 411px){
        margin: 5rem 1rem;
    }
    @media only screen and (min-width: 768px){
        margin: 5rem 9rem;
    }
    @media only screen and (min-width: 998px){
        margin: 5rem 15rem;
    }
    @media only screen and (min-width: 1200px){
        margin: 5rem 25rem;
    }

    .card-bh-container{
        display: flex;
        align-content: center;


        .cards-bh{
            background: #FFFFFF;
            width: 443px;
            height: 80px;
            border: 4px solid #16161D;
            box-sizing: border-box;
            display: flex;            align-items: center;
            justify-content: center;
            transform: rotate(-10.67deg);
        }
        .cards-bh-under{
            position: absolute;
            background: #000000;
            top: 9px;
            left: 25px;
            width: 443px;
            height: 80px;
            border: 4px solid #16161D;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(-10.67deg);

            @media only screen and (min-width: 320px){
                width: 258px;
            }
            @media only screen and (min-width: 360px){
                width: 298px;
            }
            @media only screen and (min-width: 411px){
                width: 348px;
            }
            @media only screen and (min-width: 768px){
                width: 442px;
            }
            @media only screen and (min-width: 1200px){
                width: 442px;
            }
        }
    }
    
}

//Community Section

.section-community{
    padding: 3rem 0rem;

    .nav-pills .nav-link{
        color: #000000;
        margin: 0.5rem 0rem;
    }
    .nav-pills .nav-link.active{
        color: #000000;
        background-color: transparent;
        border: 4px solid #16161D;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .video-container{
        margin: 0rem 1rem;

        .video{
            position: relative;

            iframe{
                border: 6px solid #16161D;
                box-sizing: border-box;
                border-radius: 10px;
                width: 560px;

                @media only screen and (min-width: 320px){
                    width: 268px;
                }
                @media only screen and (min-width: 360px){
                    width: 306px;
                }
                @media only screen and (min-width: 411px){
                    width: 350px;
                }
                @media only screen and (min-width: 768px){
                    width: 470px;
                }
                @media only screen and (min-width: 1200px){
                    width: 560px;
                }
            }
        }
        .video-bg{
            background: #16161D;
            border-radius: 10px;
            position: absolute;
            height: 309px;
            left: 42px;
            top: 13px;
            width: 558px;

            
            @media only screen and (min-width: 320px){
                width: 268px;
            }
            @media only screen and (min-width: 360px){
                width: 306px;
            }
            @media only screen and (min-width: 411px){
                width: 350px;
            }
            @media only screen and (min-width: 768px){
                width: 470px;
            }
            @media only screen and (min-width: 1200px){
                width: 560px;
            }
        }
        .video-info{
            margin: 1.5em 0rem;
        }
    }
}


//Hero Components

.header{
    padding-top: 100px;

    @media only screen and (min-width: 320px){
        padding-top: 30px;
    }
    @media only screen and (min-width: 360px){
        padding-top: 100px;
    }
    @media only screen and (min-width: 411px){
        padding-top: 100px;
    }
    @media only screen and (min-width: 768px){
        padding-top: 100px;
    }
    @media only screen and (min-width: 998px){
        padding-top: 100px;
    }
    @media only screen and (min-width: 1200px){
        padding-top: 100px;
    }


    .rc{
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;

        
        .rc-heading{
            color: #16161D;
            font-weight: 600;
            font-size: 37px;
        }

        .rc-paragraph{
            margin: 1.5rem 0rem;
            font-size: 16px;
            color: #787676;
        }
        .rc-button{
            background: $black;
            border-radius: 10px;
            color: #ffffff;
            
            &:hover{
                background: #ffffff;
                color:  $black;
                border: 4px solid $black;
            }
        }
    }
    .lc{

        @media (min-width: 320px){
            display: none;
        }
        @media (min-width: 360px){
            display: none;
        }
        @media (min-width: 411px){
            display: none;
        }
        @media (min-width: 768px){
            display: block;
        }
        @media (min-width: 1000px){
            display: block;
        }
        @media (min-width:1200px){
            display: block;
        }
        .lc-image-container{
            display: block;
            position: absolute;
            right: 0px;
            top: 6px;
            width: 445px;
            height: 262px;
            background: #FFFFFF;
            border: 6px solid #16161D;
            box-sizing: border-box;
            border-radius: 10px;
            
            
                @media only screen and (min-width: 768px){
                    display: block;
                    position: absolute;
                    right: 0px;
                    top: 24px;
                    width: 343px;
                    height: 305px;
                    background: #FFFFFF;
                    border: 6px solid #16161D;
                    box-sizing: border-box;
                    border-radius: 10px;
                }
                @media only screen and (min-width: 998px){
                    display: block;
                    position: absolute;
                    right: 56px;
                    top: 2px;
                    width: 390px;
                    height: 305px;
                    background: #FFFFFF;
                    border: 6px solid #16161D;
                    box-sizing: border-box;
                    border-radius: 10px;
                }
                @media only screen and (min-width: 1200px){
                    display: block;
                    position: absolute;
                    right: 0px;
                    top: 6px;
                    width: 445px;
                    height: 262px;
                    background: #FFFFFF;
                    border: 6px solid #16161D;
                    box-sizing: border-box;
                    border-radius: 10px;
                }
        }
        .lc-bg-image{
            height: 389px;
            bottom: 0px;
            margin: 0rem 7rem;
            display: block;

            @media only screen and (min-width: 768px){
                height: 389px;
                bottom: 0px;
                margin: 0rem 1rem;
                display: block;
            }
            @media only screen and (min-width: 998px){
                height: 389px;
                bottom: 0px;
                margin: -2rem 3rem;
                display: block;
            }
            @media only screen and (min-width: 1200px){
                height: 349px;
                bottom: 0px;
                margin: -2rem 11rem;
                display: block;

            }
        
           
        }
        
    }
    .community-illustration{
        width: 340px;
        margin: 0rem 3rem;

        @media (min-width: 768px){
            width: 295px;
            margin: 2rem 1rem;
        }
        @media (min-width: 1000px){
            width: 340px;
            margin: 1rem 2rem;
        }
        @media (min-width: 1200px){
            width: 340px;
            margin: 0rem 3rem;
        }

    }
    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .modal-dialog{
        max-width: 60vw;

        
        @media (min-width: 320px){
            max-width: 100vw;
        }
        @media (min-width: 360px){
            max-width: 100vw;
        }
        @media (min-width: 411px){
            max-width: 100vw;
        }
        @media (min-width: 768px){
            max-width: 60vw;
        }
        @media (min-width: 1000px){
            max-width: 60vw;
        }
        @media (min-width:1200px){
            max-width: 60vw;
        }

        .modal-content{
            padding: 0rem 1rem;
        }

        .modal-header{
            border-bottom: none;

            .modal-title{
                color: $black;
                font-weight: 500;
                font-size: 36px;
                line-height: 54px;
            }
        }
        
    }
    .custom-button{
        background: $black;
        border-radius: 10px;
        color: #ffffff;
        width: 100%;
         
        &:hover{
            background: #ffffff;
            color:  $black;
            border: 4px solid $black;
        }
    }
    .dropzone-area{
        display: block;
        text-align: center;
        margin: 2rem 1rem;
        
        .image-preview{


            .dropped-image{
                height: 230px;
                width: 100%;
                margin: 2rem 0rem;
                
            }
        }
        
        .outline{
            border: 2px dashed #16161D;
            box-sizing: border-box;
            border-radius: 7.5px;
            height: 200px;

            .outline-content{
                margin: 1.5rem;

                span{
                    font-weight: bolder;
                    text-decoration: underline;
                }
            }
        }
    }

    .order-1{
        order: 1;

        @media (min-width: 320px){
            order: 2;
        }
        @media (min-width: 360px){
            order: 2;
        }
        @media (min-width: 411px){
            order: 2;
        }
        @media (min-width: 768px){
            order: 1;
        }
        @media (min-width: 1000px){
            order: 1;
        }
        @media (min-width:1200px){
            order: 1;
        }
    }

    .order-2{
        order: 2;

        @media (min-width: 320px){
            order: 1;
        }
        @media (min-width: 360px){
            order: 1;
        }
        @media (min-width: 411px){
            order: 1;
        }
        @media (min-width: 768px){
            order: 2;
        }
        @media (min-width: 1000px){
            order: 2;
        }
        @media (min-width:1200px){
            order: 2;
        }
    }
}


// HomePage Card Component

.card{
    background: #FFFFFF;
    box-shadow: 1px 2px 12px rgba(120, 118, 118, 0.25);
    margin: 1rem 1rem;
    

    .title{
        font-size: 23px;
        margin: 1.5rem 0rem;
        color: #000000;
    }
    .description{
        font-size: 16px;
        color: #787676;
    }
}

// Card List Component

.card-list{
    display: flex;
    flex-direction:  row;
    
    @media only screen and (min-width: 320px){
        flex-direction:  column;
    }
    @media only screen and (min-width: 360px){
        flex-direction:  column;
    }
    @media only screen and (min-width: 411px){
        flex-direction:  column;
    }
    @media only screen and (min-width: 768px){
        flex-direction:  row;
    }
    @media only screen and (min-width: 998px){
        flex-direction:  row;
    }
    @media only screen and (min-width: 1200px){
        flex-direction:  row;
    }
}

//About Component 

.about{

    .about-title{
        color: $black;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin: 1.5rem 0rem;
    }

    h1{
        text-align: center;
        margin: 3rem 0rem;
    }
}


// Form Input component style

.form-group{

    .form-control{
        border: 4px solid #16161D;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        position: relative;

    }
}


//Portfolio Components


.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio{
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #16161D;
    border-radius: 10px;
    height: 275px;
    margin: 1rem;


    .overlay{
        display: none;
    }

    &:hover{
        .overlay{
            background: #16161D;
            border: 6px solid #16161D;
            box-sizing: border-box;
            height: 100%;
            border-radius: 10px;
            color: white;
            display: flex;
            flex-direction: column;
            padding: 0rem 2rem;
            justify-content: center;
            text-align: center;

            .portfolio-name{
                font-size: 22px;
            }
            .icons{
                display: flex;
                justify-content: center;

                img{
                    margin: 0rem 1rem;
                    height: 28px;
                }
            }
        }
    }

}

//member search button


.member-search{
    display: flex;
    justify-content: center;
    margin: 3rem 0rem;


    .search{
        background: #FFFFFF;
        border: 3px solid #16161D;
        box-sizing: border-box;
        border-radius: 10px;
        height: 50px;
        width: 500px;
        
        @media only screen and (min-width: 320px){
            width: 300px;
        }
        @media only screen and (min-width: 360px){
            width: 340px
        }
        @media only screen and (min-width: 411px){
            width: 377px;
        }
        @media only screen and (min-width: 768px){
            width: 390px;
        }
        @media only screen and (min-width: 998px){
            width: 500px;
        }
    }
    ::placeholder{
        padding: 2rem ;
    }

    .search-button{
        background: #16161D;
        border-radius: 10px;
        height: 50px;
        color: #FFFFFF;
        margin-left: 2rem ;

        @media only screen and (min-width: 320px){
            width: 237px;
        }
        @media only screen and (min-width: 360px){
            width: 276px;
        }
        @media only screen and (min-width: 411px){
            width: 320px;
        }
        @media only screen and (min-width: 768px){
            width: 240px;
        }
        @media only screen and (min-width: 998px){
            width: 250px;
        }

        &:hover{
            color: #FFFFFF;
        }
    }
}

//About Component, About Image
.about-image{
    .img-top{
        width: 100%
    }
}

.error-input {
    border: 2px solid red;
    border-radius: 4px;
  }